<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snack Shack</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/tailwind.css">
</head>

<body class="bg-red">
    <div>
        <header class="header flex justify-between">
            <h1 class="text-5xl ml-6">Snack Shack</h1>
            <nav class="mr-6 text-2xl flex justify-between gap-3">
                <a href="/">Home</a>
                <!-- login/logout links -->
                {{#if logged_in}}
                <a href="/profile">Profile</a>
                <a href="/login"id="logout">Logout</a>
                {{else}}
                <a href="/login">Login</a>
                {{/if}}
            </nav>
        </header>
        <main>
            {{{body}}}
        </main>
        <footer>

        </footer>
    </div>
    {{#if logged_in}}
    <script src="./js/logout.js"></script>
    {{/if}}
</body>
</html>