<div align="center" class="rounded-md p-5 mr-6 mb-6 bg-brown-800">
<div class="row">
  <div class="col-md-6">
    <h2>Login:</h2>
    <br>
    <form class="form login-form">
      <div class="form-group">
        <label class="text-white" for="email-login">Email:</label>
        <input class="form-input text-black" type="text" id="email-login" />
      </div>
      <br>
      <div class="form-group">
        <label class="text-white"for="password-login">Password:</label>
        <input class="form-input text-black" type="password" id="password-login" />
      </div>
      <br>
      <div class="form-group">
        <button class="rounded-md bg-white text-brown-800 px-5 py-2 hover:bg-yellow-200" type="submit">Login</button>
      </div>
    </form>
  </div>
  <br>
  <div class="col-md-6">
    <h2>Signup:</h2>
    <br>
    <form class="form signup-form">
      <div class="form-group">
        <label class="text-white"for="name-signup">Name:</label>
        <input class="form-input text-black" type="text" id="name-signup" />
      </div>
      <br>
      <div class="form-group">
        <label class="text-white" for="email-signup">Email:</label>
        <input class="form-input text-black" type="text" id="email-signup" />
      </div>
      <br>
      <div class="form-group">
        <label class="text-white" for="password-signup">Password:</label>
        <input class="form-input text-black" type="password" id="password-signup" />
      </div>
      <br>
      <div class="form-group">
        <button class="rounded-md bg-white text-brown-800 px-5 py-2 hover:bg-yellow-200" type="submit">Signup</button>
      </div>
    </form>
  </div>
</div>
</div>

<script src="./js/login.js"></script>
