@tailwind base;
@tailwind components;
@tailwind utilities;

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 350px;
    height: 350px;
  }

a:hover {
  color: navy;
}
